
<div class="courses">
  <div class="container">
    <div class="row">
      <!-- Courses Sidebar -->
      <div class="col-lg-4">
        <div class="sidebar">
          <!-- Categories -->
          <div class="sidebar_section">
            <div class="sidebar_section_title"><%= t "group.main_function" %></div>
            <br>
            <div class="sidebar_categories">
            <ul>
              <% if logged_in? && current_user.leader? %>
                <li><%= link_to t("group.task_list"), user_path %></li>
              <% end %>
              <% if !logged_in? || current_user.member? %>
                <li><%= link_to t("group.task_list"), tasks_path %></li>
              <% end %>
            </ul>
            <% if logged_in? && current_user.leader? %>
              <%= link_to 'Edit', "#", class:' btn btn-primary' %>
            <% end %>
            <% if logged_in? && current_user.member? %>
              <%= link_to 'Register', applyjob_path(:job => @task), class:' btn btn-primary' %>
            <% end %>
            </div>
          </div>
          <!-- Latest Course -->
        </div>
      </div>

      <!-- Courses Main Content -->
      <div class="col-lg-8">
          <h3><%= @task.title %></h3>
          
          <div class="sidebar_section_title"><%= "Company : #{@user.name}" %></div>
          <br>
          <div class="sidebar_section_title"><%= "Salary : #{@task.salary}" %></div>
          <br>
          <div class="sidebar_section_title"><%= "Time : #{@task.start_date} - #{@task.end_date}" %></div>
          <br>
          <div class="sidebar_section_title"><%= "Skill : #{@task.skill}" %></div>
          <br>
          <div class="sidebar_section_title"><%= "Content : #{@task.content}" %></div>
          <br>
      </div>
    </div>
  </div>
</div>
