<%= provide :title, @user.name %>
<div class="row">
  <div class="col-lg-3 col-md-3 team_col">
    <div class="team_item">
      <div class="team_body">
        <div class="center_img"><%= gravatar_for @user %></div>
        <div class="team_title"><a><%= @user.name %></a></div>
        <div class="team_subtitle"><a><%= @user.email %></div>
        <div class="team_subtitle"><a><%= @user.phonenumber %></div>
        <div class="team_subtitle"><a><%= @user.address %></div>
        <%# <div class="sidebar_categories"> %>
          <br>
          <ul>
            <li><%= link_to 'Edit profile', edit_user_path, class:' btn btn-primary' %></li>
            <br>
            <% if current_user.leader? %>
              <li>
                <%= link_to 'Create job', "#", "data-toggle": "modal",
                            "data-target": "#squarespaceModal", class:' btn btn-primary' %>
              </li>
            <% end %>
          </ul>
        <%# </div> %>
      </div>
    </div>
  </div>
  <div class="col-lg-9 col-md-9 team_col">
    <div class="team_item">
      <div>
        <section id="team" class="pb-5">
          <div class="container">
            <center><h5><%= t "users.show.group_management" %></h5></center>
            <hr>
            <div class="row">
              <% @user.tasks.each do |job| %>
              <div class="col-lg-6 col-md-6">
                <div class="image-flip">
                  <div class="mainflip">
                    <div class="frontside">
                      <div class="card">
                        <div class="card-body text-center">
                          <h4 class="card-title"><%= job.title %></h4>
                          <%= job.content %>
                          <p>
                            <strong>Salary:</strong>
                            <%= job.salary %>
                          </p>
                        </div>
                      </div>
                      <div class="backside">
                        <div class="card back-card">
                          <div class="card-body text-center mt-4">
                            <h class="card-title"><%= job.title %></h>
                            <p class="card-title"><%= job.start_date %> - <%= job.end_date %></p>
                            <p>
                              <strong>Salary:</strong>
                              <%= job.salary %>
                            </p>
                            <p>
                              <strong>Skill:</strong>
                              <%= job.skill %>
                            </p>
                            <p class="card-text"><%= job.content %></p>
                            <ul class="list-inline">
                              <li class="list-inline-item">
                                <%= link_to job, method: :delete,
                                data: {confirm: t("users.delete.confirm")} do %>
                                <i class="fa fa-times" ></i>
                                <% end %>
                              </li>
                              <li class="list-inline-item">
                                <%= link_to job do %>
                                  <i class="fa fa-hand-o-up"></i>
                                <% end %>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="lineModalLabel">
          New job
      </div>
      <div class="modal-body">
        <%= form_for @task do |f| %>
          <div class="form-group">
            <%= f.text_field :title, class: "form-control", placeholder: t("task.title") %>
          </div>
          <div class="form-group">
            <%= f.text_field :skill, class: "form-control", placeholder: 'Skill' %>
          </div>
          <div class="form-group">
            <%= f.text_field :salary, class: "form-control", placeholder: 'Salary' %>
          </div>
          <div class="form-group">
            <%= f.text_area :content, class: "form-control", placeholder: t("groups.description") %>
          </div>
          <%= f.hidden_field :member_id, value: current_user.id %>
          <div class="form-group">
            <label for="exampleInputPassword1"><%= t "task.deadline" %></label>
            <%= f.date_field :start_date %> - <%= f.date_field :end_date %>
          </div>
          <hr>
          <div id="child_fields">
            <%= f.submit 'Create', class: "btn btn-lg btn-primary btn-block btn-signin" %>
        <% end %>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
</div>